.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #f8f8f8;
  }
  
  .Header h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    letter-spacing: 2px;
    animation: crazy 1s infinite;
  }
  
  @keyframes crazy {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }